@model List<Webbangom.Models.Main>
@{
    ViewBag.Title = "Gốm Bát Tràng";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="height:auto">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @{ int t = 0; }

        @foreach (var item in Model)
        {
            if (t == 0)
            {
            <div class="carousel-item active">
                <img src="~/img/Logomain/@item.img" height="600" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a href="~/Amtra/index" class="nav-link">
                        <h5 style="font-family: 'Kolker Brush', cursive; font-size: 80px; color: #fdcf0d">@item.Name</h5>
                    </a>
                    <p style="font-family: 'Kolker Brush', cursive; font-size: 40px; color: #fdcf0d">@item.note</p>
                </div>
            </div>
                t=1;
              }
              else
                      {
            <div class="carousel-item">
                <img src="~/img/Logomain/@item.img" height="600" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="font-family: 'Kolker Brush', cursive; font-size: 80px;color:#fdcf0d">@item.Name</h5>
                    <p style="font-family: 'Kolker Brush', cursive; font-size: 40px; color: #fdcf0d">@item.note</p>
                </div>
            </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
